@import url(reset.css);

* {
    line-height: 150%;
}


html {
    padding: 1rem;
}


h1 {
    font-size: 2rem;
}


th,
td {
    padding: 0.2rem;
}

tr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


button {
    line-height: 100%;
    border: 0.1rem solid black;
    padding: 0.2rem;
}

button:disabled {
    opacity: 50%;
}


li {
    display: inline;
}

a {
    text-decoration: underline;
}